* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #6b0078;
    overflow-x: hidden;
    color: white;
}

main {
    z-index: 100;
}
li,
a {
    font-family: gilroy-bold;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 20px 10%;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.cta {
    cursor: pointer;
    text-decoration: none;
}

.cta:hover {
    transition: all 0.3 ease 0s;
    color: red;
}

.nav-links {
    list-style: none;
    text-decoration: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3 ease 0s;
}

.nav-links li a:hover {
    color: red;
    transition: all 0.3 ease 0s;
}

.active {
    border-bottom: 2px solid white;
    color: red;
}
.titlu {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    color:  white;
}
.titlu1 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    color:  red;
}
.componente{
    display:flex;
    justify-content: space-between;
    margin-right: 20px;
}
.stanga{
    display: flex;
    margin-left: 20px;
}
.dreapta{
    display: flex;
    margin-right: 20px;
}
.descriere{
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    border:2px solid white;
    color: white;
    width: 90%;
    padding: 10px;
    padding-left: 20px;
    border-radius:10px;
    margin-right: 20px;
}
.pasi{
    font-size: 24px;
    margin-top: 50px;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    width: 100%;
    padding:10px;
    padding-left: 20px;
    border-radius: 10px;
    margin-right:40px;
}
.pasi li{
    list-style: none;
    font-size: 20px;
}
.titd{
    justify-content: center;
    display: flex;
    color:red;
}
.tite{
    justify-content: center;
    display: flex;
    color: red;
    margin-top: 50px;
}
.imgBst{
    margin-top: 20px;
    justify-content: center;
    display: flex;
}
.bst{
    height: 250px;
    width: auto;
    background-color: white;
}
.descrieres{
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    width: 80%;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    margin-right: 20px;
}
.descrieres{
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    width: 70%;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    margin-right: 20px;
}
.pasid{
    font-size: 24px;
    margin-top: 50px;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
}
.pasid li{
    list-style: none;
    font-size: 20px;
}
.dreaptaa{
    display: flex;
    margin-right: 40px;
    width: 100%;
}
.dreaptaaa{
    display: flex;
    margin-right: 40px;
    width: 40%;
}
.stangaaa{
    display: flex;
    margin-left: 20px;
    width: 100%;
}


.scroll-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-image: url('/imagini/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    display: none;
    z-index: 9999;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.scroll-arrow.show {
    display: block;
}

.scroll-arrow:hover {
    opacity: 1;
}

.dot {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none;
    z-index: 0;
    animation-name: moveLeftRight;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 80px;
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(100vw);
    }
}
